<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>2DO List</h3>
<button (click)="addNewTodo()">Add New</button>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="selectItem(item)">
        <ion-icon name="alarm"></ion-icon>
      {{item.title}}
      <div class="item-note">{{item.note}}</div>
    </button>
  </ion-list>

  <div *ngIf="selectedItem">
    Selektovali ste: {{ selectedItem.title }}
  </div>
</ion-content>
